
/*    --superior: rgba(12, 12, 111, 0.953);*/
:root{
    --titulos: #dbff00;
    --superior: rgba(12, 12, 111, 0.953);
    --color1: rgba(12, 12, 111, 0.953);
    --color2: rgba(12, 12, 111, 0.953); /*blue*/
    --textoblanco: #BABBBB;
}

body {
    background-color: var(--color2);
    margin: 0;
    font-family: "oswald", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
}
.header {
    background-color: var(--color2);
    /*background-color: var(--superior);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*background-color:rgb(213, 248, 132);*/
    border: solid var(--color2) 2px;
    align-items: center;
}
.top-bar{
    /*background-color:var(--superior);*/
    /*background-color: blue;*/
    /*border-style: dashed;*/
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.logo{
    background-color: var(--color2);
    width: 125px;
    margin: 0px;
}
.main-menu{
    /*background-color:var(--superior);*/
}
.nav{
    /*background-color: white;*/
    color: var(--textoblanco);
    display: flex;
    gap: 30px;  /*separa los textos*/
    text-transform: uppercase;  /*convierte en mayuscula*/
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.nav li{
    list-style-type: none; /*quita las viñetas*/
}
.nav a{
    text-decoration: none;  /*quita las delineado de hipervinculo*/
    color: var(--textoblanco);
}
.nav a:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.hero{
    color:var(--textoblanco);
    background-color: var(--color2);
    background-position: top right;
    background-image: url(Imagenes/Sporting_Capital4.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: top right;
    height: 100vh;
    width: 100%;
    margin: auto;
}
.herocontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin: 150px 0px 0px 80px;;
 }
.herotitle{
    line-height: 1.5em;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    width: 70%;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotitle span{
    color: var(--titulos);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotext{
    /*text-align: justify;*/
    width: 70%;
    font-family: Poppins, sans-serif;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 20px;
}
.cta a{
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
#boton1{
    background-color: var(--titulos);
}
#boton1:hover{
    background-color: var(--textoblanco);
    color: black;
    border: solid black 2px;
}
#boton2{
    border: solid var(--titulos) 2px;
    color:var(--textoblanco);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
#boton2:hover{
    background-color: var(--textoblanco);
    color: black;
    border: solid black 2px;
    text-shadow: none
}



.elementor-container{
    font-family: Poppins, sans-serif;
    font-size: 14px; /* Tamaño base */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--textoblanco);
}
.elementor-container h2{
    color: var(--textoblanco);
    font-family: Poppins, sans-serif;
    font-size: 12px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
.elementor-container1{
    display: flex;
    align-items: center;
    text-decoration: none;
 }
.elementor-container2{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;

}
.elementor-container-group{
    width: 90%;
    text-decoration: none;
}
.logo-inferior{
    display: flex;
    width: 150px;
}
.elementor-icon-list-item{
    display: flex;
    list-style-type: none; /* Quita los puntos */
    padding-left: 25px;
    color: var(--textoblanco);
}
.elementor-icon-list-text{
    color: var(--textoblanco);
    line-height: 1.8;
    text-decoration: none;
}
.elementor-icon-list-icon{
    color: var(--textoblanco); 
    margin-right: 10px;  
}
.elementor-icon-list-item1{
    display: flex;
    text-decoration: none;
}
i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
    width: 10px;
}
.sin-linea {
    text-decoration: none; /* Elimina la línea de abajo */
}
