/*    --superior: rgba(12, 12, 111, 0.953);*/
:root{
    --titulos: #dbff00;
    --superior: rgba(12, 12, 111, 0.953);
    --color1: rgba(12, 12, 111, 0.953);
    --color2: rgba(12, 12, 111, 0.953); /*blue*/
    --textoblanco: white;
}
body {
    /*background-color: rgb(133, 238, 240);*/
    margin: 0;
    font-family: "oswald", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
}
.header {
    /*background-color: blue;*/
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    /*background-color:rgb(213, 248, 132);*/
    border: solid var(--color2) 2px;
    align-items: center;
}
.top-bar{
    /*background-color:var(--superior);*/
    /*background-color: blue;*/
    /*border-style: dashed;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*position: absolute;
    top: 0px;
    z-index: 1;*/
}
.logo{
    background-color: var(--superior);
    width: 125px;
    margin: 0px;
}
.main-menu{
    /*background-color:var(--superior);*/
}
.nav{
    /*background-color: white;*/
    color: var(--textoblanco);
    display: flex;
    gap: 30px;  /*separa los textos*/
    text-transform: uppercase;  /*convierte en mayuscula*/
}
.nav li{
    list-style-type: none; /*quita las viñetas*/
}
.nav a{
    text-decoration: none;  /*quita las delineado de hipervinculo*/
    color: var(--textoblanco);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);
}
.nav a:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.hero{
    color: var(--textoblanco);
    background-color: var(--color2);
    background-position: top right;
    background-image: url(Imagenes/Sporting_Capital4.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: top right;
    height: 500px;
    width: 100%;
    margin: auto;
}
.herocontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 10px 0px 0px 20px;
}
.herotitle{
    line-height: 1.5em;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    width: 70%;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotitle span{
    color: var(--titulos);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotext{
    /*text-align: justify;*/
    width: 70%;
    font-family: Poppins, sans-serif;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 20px;
}
.cta a{
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
#boton1{
    background-color: var(--titulos);
}
#boton1:hover{
    background-color: var(--textoblanco);
    color: black;
    border: solid black 2px;
}
#boton2{
    border: solid var(--titulos) 2px;
    color: var(--textoblanco);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
#boton2:hover{
    background-color:var(--textoblanco);
    color: black;
    border: solid black 2px;
    text-shadow: none
}