
:root{
    --titulos: #dbff00;
    --superior: rgb(138, 237, 72);
    --color1: white;
    --color2: #0c0c6f; /*blue*/
    --textoblanco: #BABBBB;
    --textoOsc: black;
    --color3:rgba(12, 12, 111, 0.6);
    --color4:#0c0c6f09;
    --color5:rgba(12, 12, 111, 0.7);
}
body {
    margin: 0;
    font-family: "oswald", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
}
.header {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;    
}
.logo{
    width: 90px;
    padding: 8px;
    margin: 0px;
}
.main-menu{
    align-items: center;
}
li.current-menu-categorias > a {
    color: rgb(var(--titulos)); /* Aplica el color definido por la variable */
    font-weight: bold; /* Opcional: resaltar el texto */
}
.nav{
    color: var(--titulos);
    display: flex;
    gap: 30px;  /*separa los textos*/
    text-transform: uppercase;  /*convierte en mayuscula*/
    align-items: center;
}
.nav li{
    list-style-type: none; /*quita las viñetas*/
}
.nav a{
    text-decoration: none;  /*quita las delineado de hipervinculo*/
    color: var(--color1);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);
}
.nav a:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-element{
    backdrop-filter: blur(2px);
    background-color: var(--color2);
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
}
.elementor-element.scrolled {
    background-color: var(--color3); /* Color al desplazarse */
}
.social-icons {
    width: 20%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px;
    gap: 30px;
}
.social-icons a {
    color: var(--textoblanco);
    font-size: 30px;
    transition: color 0.5s;
}
.social-icons a:hover {
    color: #007bff;
}
.hero{
    color: var(--color1);
    background-position: top right;
    background-image: url(Imagenes/VideoSporting2.mp4);
    background-repeat: no-repeat;
    background-position: top right;
    height: 25%;
    width: 100%;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color4);
    pointer-events: none; /* Permite interacciones con el video */
}

.elementor-container{
    color: var(--titulos);
    text-decoration: underline;
    background-color: var(--color2);
    font-family: Poppins, sans-serif;
    font-size: 1vw; /* Tamaño base */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--textoblanco);
}
.elementor-container li:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container span:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container h2{
    color: var(--color1);
    font-family: Poppins, sans-serif;
    font-size: 18px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
 .elementor-container h3{
    color: var(--textoblanco);
    font-family: Poppins, sans-serif;
    font-size: 13px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
.elementor-container1{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
 }
.elementor-container2{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;

}
.elementor-container-group{
    width: 90%;

}
.logo-inferior{
    margin: 50px;
    display: flex;
    width: 150px;
}

.elementor-icon-list-item{
    display: flex;
    list-style-type: none; /* Quita los puntos */
    padding-left: 25px;
    color: var(--textoblanco);
}
.elementor-icon-list-text{
    color: var(--textoblanco);
    line-height: 1.8;
    text-decoration: none;
}
.elementor-icon-list-icon{
    color: var(--textoblanco); 
    margin-right: 10px;  
    margin-right: 25px; /* Espaciado entre el icono y el texto */
    font-size: 30px; /* Tamaño del icono */
    color: var(--textoblanco); /* Color del icono */
}
.fa-house-user{
    height: 0px;
}

.elementor-icon-list-item1 {
    text-decoration: none; /* Quitar subrayado */
    color: #333; /* Color del texto */
    display: flex; /* Usar flexbox para alinear íconos y texto */
    align-items: center; /* Centrar verticalmente */
}

i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
    width: 10px;
}
.sin-linea {
    text-decoration: none; /* Elimina la línea de abajo */
}
.cajas{
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 50px;
    display: flex;
    margin: 20px auto;
    gap: 30px;
}
.fut{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    height: 300px;
    width: 300%;
    color: var(--color1);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);
}
.fut h3{ 
    margin: 0px ;
    padding: 0px 0px 0px 20px;
}
.fut p{
    text-align: center;
    margin: 0px;
    padding: 5px 5px 5px 8px;
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.2em;
    font-size: 1.5em;
}
.cajita{
    background-color: var(--color3) ;
    border-radius: 20px;
}
.futbaby{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0003.jpg);
    background;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.futiniciacion{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.futtransicion{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0004.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.futpreinfantil{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.cajas-imagen1{
    margin: 10px;
    border-radius: 20px;
    width: 68%;
}
.about{
    display: flex;

}
.about-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}
.about-title{
    padding: auto;
    text-align: center;
    color: var(--color2);
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 
    1px 1px 2px var(--color1),
    -1px -1px 2px var(--color1),
    1px -1px 2px var(--color1),
    -1px 1px 2px var(--color1);
}
.tag-line{
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em; 
    width: 100%; 
}
.about p{
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em; 
    width: 100%;    
}
.foto{
    margin: auto;
    display: contents;
    margin: 20px;
}
.marco{
    font-size: 90px;
    position: absolute;
    top: 120%;
    text-transform: uppercase;
    opacity: 0.08;
    text-align: center;
    left: 20px;
    text-shadow: 
    1px 1px 2px var(--color2),
    -1px -1px 2px var(--color2),
    1px -1px 2px var(--color2),
    -1px 1px 2px var(--color2);
}
.foto img{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}
.cajas-imagen{
    margin: 30px;
    border-radius: 20px;
    width: 68%;
}
/*-----------------------------------------------------*/
.caja{
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: var(--color2);
    margin: 10px;
    font-family: Poppins, sans-serif;
}
.objetivo{
    display: flex;
    align-items: center;
    line-height: 0.5em;
    font-size: 1em;
    flex-direction: column;
}
.objetivo p{

    margin: 0.5em;
}
.title{
    text-align: center;
    color: var(--color2);
}
.parrafo p{
    font-size: 1em;
}
.caja{
    flex-direction: column;
}
.parte{
    display: flex;
    align-items: center;
}
.caja-video { 
    width: 100%;
    height: 100%;  /*Altura de la pantalla completa */
    overflow: hidden;
}

.caja-video video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}







