/*    --superior: rgba(12, 12, 111, 0.953);*/
:root{
    --titulos: #dbff00;
    --superior: rgb(138, 237, 72);
    --color1: white;
    --color2: rgba(12, 12, 111, 0.953); /*blue*/
    --textoblanco: #BABBBB;
    --textoOsc: black;
    --color3:rgba(12, 12, 111, 0.6);
    --color4:rgba(12, 12, 111, 0.2);
}
body {
    /*background-color: rgb(133, 238, 240);*/
    margin: 0;
    font-family: "oswald", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
}
.header {
    /*background-color: blue;*/
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    /*background-color:rgb(213, 248, 132);*/
    /*border: solid var(--color2) 2px;*/
    align-items: center;
}
.top-bar{
    /*background-color:var(--superior);*/
    /*background-color: blue;*/
    /*border-style: dashed;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*position: absolute;
    top: 0px;
    z-index: 1;*/
}
.logo{
    background-color: var(--color2);
    width: 125px;
    margin: 0px;
}
.main-menu{
    /*background-color:var(--superior);*/
}
.nav{
    /*background-color: white;*/
    color: var(--color2);
    display: flex;
    gap: 30px;  /*separa los textos*/
    text-transform: uppercase;  /*convierte en mayuscula*/
}
.nav li{
    list-style-type: none; /*quita las viñetas*/
}
.nav a{
    text-decoration: none;  /*quita las delineado de hipervinculo*/
    color: var(--color1);
    /*text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);*/
}
.nav a:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.hero{
    color: var(--color1);
    background-color: var(--color2);
    background-position: top right;
    background-image: url(Imagenes/VideoSporting1.mp4);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: top right;
    height: 500px;
    width: 100%;
    margin: auto;
}
.hero-inicio{
    display: flex;
}
.video-container {
    border-radius: 100px;
    margin: 0px 40px 0px 0px;
    position: relative;
    max-width: 800px;
    border: 2px solid var(--color2);
    border-radius: 10px;
    overflow: hidden;
}
video {
    width: 100%;
    height: auto;
}
.video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color4); /* Color con opacidad */
    pointer-events: none; /* Permite interacciones con el video */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color3);
    pointer-events: none; /* Permite interacciones con el video */
}
.herocontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px 0px 0px 20px;
}
.herotitle{
    line-height: 1.5em;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    width: 70%;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotitle span, .fut span{
    color: var(--titulos);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.herotext{
    /*text-align: justify;*/
    width: 70%;
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 20px;
}
.cta a{
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
#boton1{
    background-color: var(--titulos);
}
#boton1:hover{
    background-color: var(--color1);
    color: var(--color2);
    border: solid var(--textoOsc) 2px;
}
#boton2{
    border: solid var(--titulos) 2px;
    color: var(--textoblanco);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2); /* Borde en cuatro direcciones */
}
#boton2:hover{
    background-color:var(--color1);
    color: var(--color2);
    border: solid var(--textoOsc) 2px;
    text-shadow: none
}


.elementor-container{
    color: var(--titulos);
    text-decoration: underline;
    background-color: var(--color2);
    font-family: Poppins, sans-serif;
    font-size: 14px; /* Tamaño base */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--textoblanco);
}
.elementor-container li:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container span:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container h2{
    color: var(--color1);
    font-family: Poppins, sans-serif;
    font-size: 18px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
 .elementor-container h3{
    color: var(--textoblanco);
    font-family: Poppins, sans-serif;
    font-size: 13px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
.elementor-container1{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
 }
.elementor-container2{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;

}
.elementor-container-group{
    width: 90%;

}
.logo-inferior{
    margin: 50px;
    display: flex;
    width: 150px;
}
.elementor-icon-list-item{
    display: flex;
    list-style-type: none; /* Quita los puntos */
    padding-left: 25px;
    color: var(--textoblanco);
}
.elementor-icon-list-text{
    color: var(--textoblanco);
    line-height: 1.8;
    text-decoration: none;
}
.elementor-icon-list-icon{
    color: var(--textoblanco); 
    margin-right: 10px;  
}
.elementor-icon-list-item1{
    display: flex;
    text-decoration: none;
}

i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
    width: 10px;
}
.sin-linea {
    text-decoration: none; /* Elimina la línea de abajo */
}
.cajas{
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 50px;
    display: flex;
    margin: 20px auto;
    gap: 30px;
}
.fut{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    height: 300px;
    width: 25%;
    color: var(--color1);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);
}
.fut h3{ 
    margin: 0px ;
    padding: 0px 0px 0px 20px;
}
.fut p{
    margin: 0px;
    padding: 5px 5px 5px 8px;
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.2em;
    font-size: 0.8em;
}
.cajita{
    background-color: var(--color3) ;
    border-radius: 20px;
}
.fut1{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0003.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.fut2{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.fut3{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0004.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.fut4{
    border: solid 1px var(--color2);
    background-image: url(Imagenes/IMG-20241010-WA0002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.video{
    border-radius: 20px;
    margin: 0px;
}
.cajas-video{
    border: solid 2px var(--color2);
    background-color: var(--color4);
    border-radius: 20px;
    margin: 20px;
}


