
:root{
    --titulos: #dbff00;
    --superior: rgb(138, 237, 72);
    --color1: white;
    --color2: #0c0c6f; /*blue*/
    --textoblanco: #BABBBB;
    --textoOsc: black;
    --color3:rgba(12, 12, 111, 0.4);
    --color4:#0c0c6f09;
    --color5:rgba(12, 12, 111, 0.7);
}
body {
    margin: 0;
    font-family: "oswald", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
}
.header {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  el head de la pagina parte superior */
.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;    
}
.logo{
    width: 90px;
    padding: 8px;
    margin: 0px;
}
/*  el head de la pagina parte superior genera estilo del menu*/
.main-menu{
    align-items: center;
}
li.current-menu-nosotros > a {
    color: rgb(var(--titulos)); 
    font-weight: bold; 
}
.nav{
    color: var(--titulos);
    display: flex;
    gap: 30px;  
    text-transform: uppercase;
    align-items: center;
}
.nav li{
    list-style-type: none; /*quita las viñetas*/
}
.nav a{
    text-decoration: none;  /*quita las delineado de hipervinculo*/
    color: var(--color1);
    text-shadow: 
    1px 1px 0px var(--color2),
    -1px -1px 0px var(--color2),
    1px -1px 0px var(--color2),
    -1px 1px 0px var(--color2);
}
.nav a:hover{
    color: var(--titulos);
    text-decoration: underline;
}
/*  el head de la pagina parte superior genera estilo del head*/
.elementor-element{
    backdrop-filter: blur(2px);
    background-color: var(--color3);
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
}
.elementor-element.scrolled {
    background-color: var(--color3); /* Color al desplazarse */
}
.social-icons {
    width: 20%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px;
    gap: 30px;
}
.social-icons a {
    color: var(--textoblanco);
    font-size: 30px;
    transition: color 0.5s;
}
.social-icons a:hover {
    color: #007bff;
}
/*  el head de la pagina parte superior genera estilo del video*/
.hero{
    color: var(--color1);
    background-position: top right;
    background-image: url(Imagenes/VideoSporting2.mp4);
    background-repeat: no-repeat;
    background-position: top right;
    height: 25%;
    width: 100%;
    margin: auto;
}
.hero-inicio{
    display: flex;
    align-items: center;
}
.video-container {
    border-radius: 100px;
    margin: 0px 40px 0px 0px;
    position: relative;
    max-width: 50%;
    border-radius: 10px;
    overflow: hidden;
}
/*  el food de la pagina parte inferior */

.elementor-container{
    color: var(--titulos);
    text-decoration: underline;
    background-color: var(--color2);
    font-family: Poppins, sans-serif;
    font-size: 14px; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--textoblanco);
}
.elementor-container li:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container span:hover{
    color: var(--titulos);
    text-decoration: underline;
}
.elementor-container h2{
    color: var(--color1);
    font-family: Poppins, sans-serif;
    font-size: 18px;    
    display: flex;
    justify-content: center;
 }
 .elementor-container h3{
    color: var(--textoblanco);
    font-family: Poppins, sans-serif;
    font-size: 13px; /* Tamaño base */   
    display: flex;
    justify-content: center;
 }
.elementor-container1{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
 }
.elementor-container2{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: flex-start;

}
.elementor-container-group{
    width: 90%;

}
.logo-inferior{
    margin: 50px;
    display: flex;
    width: 150px;
}

.elementor-icon-list-item{
    display: flex;
    list-style-type: none; /* Quita los puntos */
    padding-left: 25px;
    color: var(--textoblanco);
}
.elementor-icon-list-text{
    color: var(--textoblanco);
    line-height: 1.8;
    text-decoration: none;
}
.elementor-icon-list-icon{
    color: var(--textoblanco); 
    margin-right: 10px;  
    margin-right: 25px; /* Espaciado entre el icono y el texto */
    font-size: 30px; /* Tamaño del icono */
    color: var(--textoblanco); /* Color del icono */
}
.fa-house-user{
    height: 0px;
}

.elementor-icon-list-item1 {
    text-decoration: none; /* Quitar subrayado */
    color: #333; /* Color del texto */
    display: flex; /* Usar flexbox para alinear íconos y texto */
    align-items: center; /* Centrar verticalmente */
}

i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
    width: 10px;
}
.sin-linea {
    text-decoration: none; /* Elimina la línea de abajo */
}


.about{
    display: flex;

}
.about-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}
.about-title{
    padding: auto;
    text-align: center;
    color: var(--color2);
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 
    1px 1px 2px var(--color1),
    -1px -1px 2px var(--color1),
    1px -1px 2px var(--color1),
    -1px 1px 2px var(--color1);
}
.tag-line{
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em; 
    width: 100%; 
}
.about p{
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em; 
    width: 100%;    
}
.foto{
    margin: auto;
    display: contents;
    margin: 20px;
}
.foto img{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}
.cajas-imagen{
    margin: 30px;
    border-radius: 20px;
    width: 68%;
}
/*--------------------------------------------------------------*/

.historical-review, .mission, .vision {
    /*display: flex;*/
    gap: 30px;
    align-items: center
    background-color: var(--color1);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin: 30px;
    display: flex;
    align-items: center
}
.historical-review-title, .mission-title,.vision-title {
    font-family: Poppins, sans-serif;
    /*position: absolute;*/
    color: var(--color2);
    font-size: 3vw;
    top: 0;
    left: 0;
    pointer-events: none; /* Evita la interacción del usuario con el texto superior */
}
.historical-review-title {
    text-align: left;
    top: 5px;

}
.historical-review, .mission, .vision p{
    /*text-align: justify;*/
    color: var(--color2);
    margin: 10px;
    font-family: Poppins, sans-serif;
    font-stretch: condensed;
    line-height: 1.2em;
    font-size: 1.1vw;
    margin-bottom: 20px;
}
.historical-review, .objetivo p{
    margin-left: 0px;
}
.contenedor {
    position: relative;
    display: inline-block; /* Ajusta el contenedor al tamaño del texto */
    display: flex;
    justify-content: flex-end;
}

.titulos{
    display: flex;
    justify-content: center;
}
.marco{
    font-size: 50px;
    margin: 0;
    /*position: absolute;*/
    top: 100%;
    text-transform: uppercase;
    opacity: 0.06;
    text-align: center;
    left: 20px;
    text-shadow: 
    1px 1px 2px var(--color2),
    -1px -1px 2px var(--color2),
    1px -1px 2px var(--color2),
    -1px 1px 2px var(--color2);
}
/* reseña historica */

.historical-review {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}
.historical-review .item:nth-child(3) {
    margin-left: 20px;
    grid-column: 1 / span 2; /* El tercer elemento ocupa las dos columnas */
}

.historical-review-video {
    flex: 0 0 50%; /* No crecer, no encoger, ocupar 50% */
    margin-right: 10px; /* Espacio entre el video y el contenido */
}

.historical-review-content {
    
    flex: 0 0 50%; /* No crecer, no encoger, ocupar 50% */
}


video {
    max-width: 100%; /* Asegúrate de que el video sea responsivo */
    height: auto; /* Mantiene la proporción del video */
    border-radius: 20px;
    margin-left: 20px;
}


/*Mision vision*/
.mission-imagen img, .vision-imagen img{
    border-radius: 20px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.mission, .vision {
    display: flex; /* Activa flexbox */
    align-items: center; /* Alinea los elementos al inicio */
    margin-bottom: 0px; /* Espacio debajo del contenedor */
    margin: 0px 30px 0px 30px
}

.mission-content, .vision-content{
    flex: 0 0 38%; /* No crecer, no encoger, ocupar 70% */
    margin-right: 0px; /* Espacio entre el texto y la imagen */
    margin-left: 20px;
}

.mission-imagen, .vision-imagen{
    flex: 0 0 58%; /* No crecer, no encoger, ocupar 30% */
}

.mission-img, .vision-img{
    max-width: auto; /* Asegúrate de que la imagen sea responsiva */
    height: auto; /* Mantiene la proporción de la imagen */
}
/* objetivo */ 
.objetivo-icono{
    display: flex;
    align-items: center;
    gap: 30px;
}
.fas{
    width: 5px;
    margin-left: 2%;
}
.objetivo {
    padding: 0px; /* Espaciado interno */
}

.obj {
    list-style-type: none; /* Quitar viñetas de la lista */
    padding: 0; /* Quitar padding */
}

.objetivo {
    color: var(--color2); /* Color del texto */
    margin-bottom: 0px; /* Espacio entre los elementos de la lista */
    padding: 0px; /* Espaciado interno para cada objetivo */
}
