body{
    background-color: rgb(255, 77, 0);
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(14, 9, 48);
    display: flex;
 
    height: 120px;
    color: white;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
header img{
    height: 100px;
}
p{
    margin: 0px;
    padding: 20px 0px;
}
main{
    background-color: rgb(14, 38, 106);
    margin: 0px;
}
.matriz{
    display: flex;
    align-items: center;
}
form{
    background-color: rgba(255, 255, 255, 0.633);
    width: 50vw;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-items: center;
}
.saludo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.num{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
    
}
.crearMatriz{
    margin: 10px;
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(141, 141, 184);
    background-color: blue;
    color: white;
    border: solid white 1px;
    padding: 3px;
}
.sumarUno{
    margin: 10px;
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(141, 141, 184);
    background-color: blue;
    color: white;
    border: solid white 1px;
    padding: 3px;
}
input{
    text-align: center;
    width: 80px;
    height: 30px ;
    border-radius: 10px;
}




